doctype html  
html(class='no-js' lang='en')  
 head
   title mega-compiler
   link(rel="stylesheet", href="./src/post/style.css")
  
 body
   h1 mega-compiler
   h2 by
   h1 Sam Gordon
   div.container
     p This project uses Gulp to watch and automatically:
     li Compile PostCSS to CSS
     li Compile CoffeeScript to Javascript
     li Compile Pug to HTML
     li Beautify Pug output
